In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
data = pd.read_csv('bank.csv')

In [3]:
df = data.copy()

In [4]:
df['age'].mean()

np.float64(46.4912)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               5000 non-null   int64
 1   segment_id                5000 non-null   int64
 2   age                       5000 non-null   int64
 3   account_tenure_years      5000 non-null   float64
 4   annual_income             5000 non-null   float64
 5   savings_rate              5000 non-null   float64
 6   avg_monthly_balance       5000 non-null   float64
 7   num_products              5000 non-null   int64
 8   digital_engagement_score  5000 non-null   float64
 9   branch_visits_per_month   5000 non-null   int64
 10  transactions_per_month    5000 non-null   int64
 11  credit_utilization_rate   5000 non-null   float64
 12  credit_score              5000 non-null   float64
 13  loan_to_income            5000 non-null   float64
 14  loan_amount               5000 non-null   float64
 15  interest_rate_pct         5000 non-null   float64
 16  overdraft_count_12m       5000 non-null   int64
 17  fees_ytd                  5000 non-null   float64
 18  satisfaction_score        5000 non-null   float64
 19  churn_12m                 5000 non-null   int64
 20  default_12m               5000 non-null   int64
dtypes: float64(12), int64(9)
memory usage: 820.4 KB

In [6]:
bins = [0, 19, 29, 39, 49, 59, 69, 100]
labels = ['<20', '20-29', '30-39', '40-49', '50-59', '60-69', '70+']

df['AgeGroup'] = pd.cut(df['age'], bins=bins, labels=labels, right=True)

age_group_counts = df.groupby('AgeGroup')['customer_id'].count()

print("\nNumber of customers in each age group:")
print(age_group_counts)

most_common_group = age_group_counts.idxmax()
print(f"\nThe most common age group is: {most_common_group}")

Number of customers in each age group:
AgeGroup
<20         8
20-29     663
30-39    1210
40-49    1138
50-59     882
60-69     678
70+       421
Name: customer_id, dtype: int64

The most common age group is: 30-39

C:\Users\seifa\AppData\Local\Temp\ipykernel_20544\2689347073.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group_counts = df.groupby('AgeGroup')['customer_id'].count()