In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [18]:
data = pd.read_csv('Economic Data - 9 Countries (1980-2020).csv')

In [19]:
df = data.copy()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stock index          369 non-null    object
 1   country              369 non-null    object
 2   year                 369 non-null    float64
 3   index price          317 non-null    float64
 4   log_indexprice       369 non-null    float64
 5   inflationrate        326 non-null    float64
 6   oil prices           369 non-null    float64
 7   exchange_rate        367 non-null    float64
 8   gdppercent           350 non-null    float64
 9   percapitaincome      368 non-null    float64
 10  unemploymentrate     348 non-null    float64
 11  manufacturingoutput  278 non-null    float64
 12  tradebalance         365 non-null    float64
 13  USTreasury           369 non-null    float64
dtypes: float64(12), object(2)
memory usage: 40.5+ KB

In [21]:
df.groupby('country')['gdppercent'].mean().sort_values(ascending=False)

country
China                       0.092439
India                       0.057805
Hong Kong                   0.042927
United States of America    0.039487
Japan                       0.020882
Spain                       0.020769
United Kingdom              0.018974
Germany                     0.017027
France                      0.016410
Name: gdppercent, dtype: float64

In [22]:
df.groupby('country')['gdppercent'].max().sort_values(ascending= False)

country
China                       0.15
Hong Kong                   0.13
United States of America    0.12
India                       0.10
Japan                       0.07
Spain                       0.06
United Kingdom              0.06
France                      0.05
Germany                     0.05
Name: gdppercent, dtype: float64

In [23]:
befour_2008 = df[(df['year'])>=2005 & (df['year']<=2008)]
befour_mean = befour_2008.groupby('country')['gdppercent'].mean().sort_values(ascending=False)

In [24]:
after_2008 = df[(df['year']>=2008)&(df['year']<=2010)]
after_mean= after_2008.groupby('country')['gdppercent'].mean().sort_values(ascending=False)

In [25]:
gdb_comparison = pd.DataFrame({
    'gdb_befour_2008': befour_mean,
    'gdb_after_2008': after_mean
})

In [26]:
gdb_comparison

                          gdb_befour_2008  gdb_after_2008
country
China                            0.092439        0.100000
France                           0.016410       -0.005000
Germany                          0.017027       -0.003333
Hong Kong                        0.042927        0.023333
India                            0.057805        0.063333
Japan                            0.020882       -0.006667
Spain                            0.020769       -0.015000
United Kingdom                   0.018974       -0.010000
United States of America         0.039487        0.000000

In [27]:
inflation_stability =(df.groupby('country')['gdppercent'].std().sort_values)

In [28]:
inflation_stability

<bound method Series.sort_values of country
China                       0.029222
France                      0.020836
Germany                     0.022344
Hong Kong                   0.040819
India                       0.029284
Japan                       0.025863
Spain                       0.030295
United Kingdom              0.027222
United States of America    0.031115
Name: gdppercent, dtype: float64>

In [32]:
corr_by_country = (
    df.groupby("country")
      .apply(lambda x: x["gdppercent"].corr(x["inflationrate"]))
      .sort_values(ascending=False)
)

corr_by_country

C:\Users\seifa\AppData\Local\Temp\ipykernel_19388\3793600571.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["gdppercent"].corr(x["inflationrate"]))

country
United States of America    0.618397
China                       0.325914
Japan                       0.316622
Hong Kong                   0.215073
Germany                     0.067471
France                     -0.053470
India                      -0.064797
Spain                      -0.068803
United Kingdom             -0.198543
dtype: float64

In [33]:
gdp_unemp_corr = (
    df.groupby("country")
      .apply(lambda x: x["gdppercent"].corr(x["unemploymentrate"]))
      .sort_values(ascending=False)
)

gdp_unemp_corr

C:\Users\seifa\AppData\Local\Temp\ipykernel_19388\2104214654.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x["gdppercent"].corr(x["unemploymentrate"]))

country
France                      0.246580
United States of America    0.080217
United Kingdom              0.029724
Germany                     0.005183
India                      -0.055495
Hong Kong                  -0.140910
Spain                      -0.295774
Japan                      -0.338074
China                      -0.355338
dtype: float64